{
  "pollers": [
    {
      "name": "rent1",
      "request": {
        "currency": "usd",
        "price[min]": 100,
        "price[max]": 300,
        "rent_type[]": ["1_room", "2_rooms"],
        "bounds[lb][lat]": 53.80957154683726,
        "bounds[lb][long]": 27.455520629882812,
        "bounds[rt][lat]": 53.985568980647656,
        "bounds[rt][long]": 27.665977478027344,
        "only_owner": "true"
      },
      "api_url": "https://ak.api.onliner.by/search/apartments"
    }
  ],
  "bots": {
    "telegram": {
      "token": "PUT_TOKEN_HERE"
    },
    "vkontakte": {
      "client_secret": "PUT_SECRET_HERE",
      "app_id": PUT_ID_HERE,
      "group_id": PUT_ID_HERE
    }
  },
  "storage": "/tmp/estate_agent_settings"
}
